	body {
	background-color: #808987;
	}
				.background-page-2 {
				background-image: url(../images/фон.jpg);
				background-repeat: repeat-y;
				background-position: center center;
				background-position: fixed;
				background-size: cover;
				}
				.header {
				
				  display: flex;
				  flex-wrap: wrap; /*перенос строки */
				  justify-content: space-between; /*прижимает содержимое к краям */
				  align-items: center; /*выравнивает элементы по центру на вертикальной */
				}
			
				.header, .menu ul {
						display: flex;
						float: center;
				}
				.menu ul li {
					
					width: 300px;
					list-style: none;
					padding: 0;
					font-size: 24px;
					margin: 0;
				}
				.menu a{
					text-decoration: none;
					color: #fff;
					display: inline-block;
					padding: 10px;
					margin: 0;
					font-size: 24px;
					
				}
				.menu a:hover {
					text-decoration: underline;
					color: #8d847a;
				}
				.image {
						
					width: 50px;
					height: 50px;
					object-fit: cover;
				}
				.images {
					width: 1270px; 
					height: 1049px;
				}
				
				.text1 {                      
					display: block; 
					font-size: 128px;
					font-weight: bold;
				}
				.text2 {
					display: block;
					font-size: 48px;
					font-weight: bold;                  
				}                             
				.btn {                                /*текст в кнопке по центру?*/
					background: #8d847a;
					width: 405px; 
					height: auto; 
					border-radius: 50px; 
					font-size: 48px;
					color: #ffffff;
					text-align: center;
					
				}
				.block {
					width: auto; /* Ширина контента */
					height: auto;
					margin: 10px; /* Значение отступов */
					border-radius: 50px;
					padding: 60px; /* Поля вокруг текста */
					background: #c4c4c4;
					font-size:32px;
					color:black;
				}
				.custom-class {
					border-radius: 50px;
					margin: 10px 10px 10px 10px;
					padding: 10px 10px 10px 10px;
					max-width: 320px;
					height: 450px;
					text-align: center;
					background-color: #c4c4c4;
					color:black;
					font-size:32px;
				}
				.btn2 {                                /*текст в кнопке по центру?*/
					background: #8d847a;
					width: 200px; 
					height: auto; 
					border-radius: 50px; 
					font-size: 32px;
					color: #000;
					vertical-align: center;
					text-align: center;
				}
				